# vim: set filetype=muttrc:

source mailbox.example

folder-hook 'mailbox.example' 'source mailbox.example'
folder-hook 'mailbox.example2' 'source mailbox.example2'

# Macros for switching accounts
#macro index 1 '<sync-mailbox><enter-command>source mailbox.example<enter><change-folder>!<enter>'
#macro index 2 '<sync-mailbox><enter-command>source mailbox.example2<enter><change-folder>!<enter>'
